body{
    background-color: #fff;
    font-family: 'Hanken Grotesk';
    width: 1440px;
    min-height: 100vh;
    display: grid;
    place-items: center;

}

#container{

    width: 600px;
    height: 430px;
    border-radius: 30px;
    box-shadow: 10px 10px #eef1fe;
    display: flex;
    justify-content:baseline;
   
}

#lista-de-resultado{
    color: white;

}

#percentual{
    background-image: linear-gradient(to top, #322ceb, #6743ff );
    width: 50%;
    border-radius: 30px;
    text-align: center;
    
}

#percentual #titulo{
    padding-top: 30px;
}

#percentual li{
    padding: 10px;
}

#porcento{
    margin: 0 auto;
    background-color: #462bda;
    width: 150px;
    height: 150px;
    border-radius: 100px 100px 100px 100px;
}
#porcento h1{
    padding-top:30px ;
    font-size: 3em;
}
#percentual h2{
    font-size: 1.7em;
    padding-bottom: 15px;

}
#lista-de-resultado p{
    color: #d0c5ff;
}

#conteudo{
    font-size: 0.8em;
    margin: 0 25px;
}

#sumario{
    width: 50%;
  
}
#sumario ul{
    padding: 30px;
}
#sumario ul #titulo-sumario{
    padding-top: 0px;
    padding-left: 0px;
}

#sumario ul li{
   padding: 15px;
}

#sumario .pontuacao{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 15px;
}

#sumario ul li .conteudo-interno{
    display: flex;
}

#sumario ul li .conteudo-interno p{
    margin-left: 10px;
}

#sumario .ultimo-pontuacao{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;

}
#sumario #botao{
    background-color: #303b59;
    margin: 0 auto;
    text-align: center;
    margin-top: 34px;
     border-radius: 20px;
}

#sumario #botao:hover{
    background-color: #241cc8;
}
#sumario #botao a{
    color: white;
    text-decoration: none;
}

/*fundo caixinhas*/
#sumario .vermelho{
 background-color:#fff6f5;
}

#sumario .verde{
    background-color: #f2fbfa;
}

#sumario .amarelo{
    background-color: #fffbf2;
}

#sumario .azul{
    background: #f3f3fd;
}

/*cores textos*/
#text-red{
    color: #db6567;
}
#text-yellow{
    color: #f7b738;
}

#text-green{
    color: #3ea289;
}
#text-blue{
    color: #2b36a0;
}
